.default-color0.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color1.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color2.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color3.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color4.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color5.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color6.chart-bar
{
    -fx-bar-fill: #d5522a
}
.default-color7.chart-bar
{
    -fx-bar-fill: #d5522a
}

