.root{
    -fx-background-color: #121212;
    -fx-font-family: "PT Sans";

}

.button{
    -fx-background-color: #d5a72a;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian,black, 10, 0.5, 0.5, 0.3);
}

#existingUserLoginButton:hover{
    -fx-background-color: #a07800;
}

#newUserLoginButton:hover{
    -fx-background-color: #a07800;
}


Text{
    -fx-font-family: "PT Sans";
}