.root{
    -fx-background-color: #121212;
    -fx-font-family: "PT Sans";

}

.button{
    -fx-background-color: #616161;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian,black, 10, 0.5, 0.5, 0.3);
}


Text{
    -fx-font-family: "PT Sans";
}

.choice-box{
    -fx-background-color: #616161;
    -fx-text-fill: white;
}






